body{
  background-color:#fe5f55;
  text-align:center;
}

h1{
  color:#fe5f55;
  background-color:#eef5db;
  padding:15px;
}

h3{
  color:#eef5db;
}

label{
  color:#fe5f55;
 background-color:#eef5db; 
}

input{
  color:#fe5f55;
  background-color:#eef5db;
}